# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore environment variables file
.env

# Ignore test coverage reports
coverage/

# Ignore debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
